.node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #0e5d00;
  color: #ffffff;
  font-weight: 200;
  font-size: small;
  cursor: grab;
  user-select: none;
  box-shadow: inset -25px -15px 40px rgba(4, 246, 37, 0.3);
	background: radial-gradient(circle at 65% 15%, rgb(255, 255, 255) 1px, rgb(104, 213, 213) 3%, rgb(57, 123, 76) 60%, rgb(79, 123, 81) 100%);
  border-width: 4px;
  border-color: #0d5001;
  border-style: solid;
  text-shadow: 1px 1px black;
}
